html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: #16181d;
  }
  
  body,
  html,
  #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  #root > div > svg {
    width: 300px;
  }
  